<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New person</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="show"> Here Add New Person and caption</h1>
<div class="container">
    <form method="post" action="/blogs">
       <div class="form"> <label for="name">Name:</label>
       <input type="text" name="name" class="name">
       <br><br>
       <label for="caption">Caption:</label>
       <input type="text" name="caption" class="caption">
       <br>
       <br>
       <label for="link">Img Link:</label>
       <textarea name="link"  cols="30" rows="1"></textarea>
       <br>
       <br>
        <button class="btn">Submit</button>
    </form>
</div>
</div>
</body>
</html>